@model ShopCartViewModels
<br/>
<br />
<br />
<br />
<br />
<div class="container">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
        <div class=" alert alert-warning mt-md-5">
            <b>Автомобиль:</b>@el.Car.Name<br/>
            <b>Цена:</b>@el.Price.ToString()$
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>