@model ShopCartViewModels
<br/>
<br />
<br />
<br />
<br />
<div class="container">
    @foreach (var el in Model.shopCart.ListShopItems)
    {
        <div class=" alert alert-warning mt-md-5">
            <b>Автомобиль:</b>@el.Car.Name<br />
            <b>Цена:</b>@el.Car.Price.ToString()$
        </div>
    }
    <hr />
    <div class="btn btn-danger mt-md-5" asp-controller="Order" href="#">Оплатить</div>
</div>