<br />
<br />
<br />
<br />
<b>
    <font color="LightGray">Age-10</font>
</b>
<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2" style="background-color:oldlace;">
    @{
        foreach (Car car in Model.AllCars) //для того, чтоб класс Car был виденн отсюда, его необходимо прописать в _ViewImports.cshtml как @using Shop.Data.Models
         @Html.Partial("AllCars", car)
    }
</div>
<br />
<br />
<b>
    <font color="LightGray" size="4">(Age-10)</font>
</b>