<br />
<br />
<br />
<br />
<b>
    <font color="LightGray">Age-9</font>
</b>
<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2" style="background-color:oldlace;">
    @{
        foreach (Car car in Model.AllCars) //для того, чтоб класс Car был виденн отсюда, его необходимо прописать в _ViewImports.cshtml как @using Shop.Data.Models
        {
            //@Html.Partial("AllCars", car) // строка задублирует вывод
            <div class="col-lg-3">
                <h2>Модель: @car.Name</h2>
                <p>Цена: @car.Price.ToString()$</p>
                <img class="img-thumbnail" src=@car.Img width="600" height="360" />
                <p><a class="btn btn-warning" href="#">Подробнее</a></p>
            </div>
        }
    }
</div>
<br />
<br />
<b>
    <font color="LightGray" size="4">(Age-9)</font>
</b>
